h1 {
    display: inline-block;
    font-family: Europa-Regular sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    margin-top: 10px;
    margin-bottom: 3px;
    /* font-size: 2.1rem; */
}

img {
    display: inline-block;
    height:41px;
    width:37px;  
    margin-top: 3px;  
}

.container {
    border-bottom: 0.02px solid white;
    padding-top:5px;
    /* font-size: 1.5r em; */
}

.headerLeft {
    margin-right: 50px;
}

.headerRight {
    margin-left: 50px;
}

@media screen and (max-width: 465px) {

    img {
        display: none;
    }

    h1 {
        display: block;
    }

    .headerLeft, .headerRight {
        margin: 0;
    }
} 