h1 {
    display: inline-block;
    font-family: Europa-Regular sans-serif;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.34;
    margin-top: 10px;
    margin-bottom: 0;
}

.LogLinksContainer {
    text-align: right;
}

.LogLinks {
    font-size: 0.9rem;
    text-align: right;
    margin: 0;
    padding-right: 20px;
    padding-bottom: 3px;
}

.LogLinks {
    margin: 0;
    padding-bottom: 5px;
}

.HexagonImg {
    display: inline-block;
    height:41px;
    width:37px;
    margin-top: 10px;
}

.ContainerHeader {
    border-bottom: 1px solid white;
    padding-top:5px;
}

.HeaderLeft {
    margin-right: 50px;
}

.HeaderRight {
    margin-left: 50px;
}

@media screen and (max-width: 465px) {

    .HexagonImg {
        display: none;
    }

    h1 {
        display: block;
    }

    .HeaderLeft, .HeaderRight {
        margin: 0;
    }
} 