.Profile-Photo {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    border: 1px solid #707070;
    margin-top: 20px;
}

h2 {
      margin-top: 0;
}

.Container {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0;
grid-row-gap: 0;
margin: 0 10vw;
}

.Profile {
    grid-area: 1 / 1 / 1 / 2;
}

.Profile > p {
    text-align: left;
}

.Notifications 
{
    grid-area: 1 / 2 / 2 / 5;
text-align:left; }

.Notifications h1 {
    margin-left: 30px;
}

.Notification-Content {
    margin-top: 20px;
    margin-left: 30px;
    padding: 5px;
    border: 1px solid white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0;
    grid-row-gap: 0;
    text-align: left;
}
    
.div1 { grid-area: 1 / 1 / 2 / 2; }
.Demo-Date { grid-area: 1 / 6 / 2 / 7;
display: grid }
.div3 { grid-area: 2 / 2 / 3 / 6;
padding: 5px; }
.div4 { grid-area: 3 / 6 / 4 / 7; }

@media screen and (max-width: 465px)  {
        .Container, .Notification-Content {
display: block;
margin: 0 20px;
        }
}


@media screen and (max-width: 800px)  {
        .Notification-Content {
display: block;
margin: 0 20px;

        }
    }
    