ul {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: left;
}

li {
    display: inline-block;
    margin: 10px 14px;
}

.NavItem {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 1.1rem;

}

.NavItem:hover {
    color: #a39d9d;
}

.selected {
    color: #707070;
}

.selected:hover {
    color: #707070;
}

.Nav {
    margin-bottom: 20px;
}

@media screen and (max-width: 465px) {
    ul {
        text-align: center;
    }

    li > a {
        font-size: 0.9rem;
        padding-block: 5px;
    }
}