a {
    color: white;
    font-size: 0.6rem;
    font-weight: bold;
    display: block;
}

.LoginH2 {
    margin-top: 60px;
}

.buttonlink {
    background: none;
    border: none;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
}

