input, textarea {
    width:320px;
    border-radius: 3px;
    border: none;
    padding: 5px;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 465px)  {
    input, textarea {
        width:230px;
        border-radius: 3px;
        border: none;
        padding: 5px;
        display: block;
        margin: 0 auto;
    }
}

textarea {
    min-height: 150px;
}

