.ButtonsContainer {
    padding-top:24vh;
}

.ButtonStart {
    width:320px;
    color: white;
    background-color: #707070;
    border: 3px solid white;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 20px;
    transition: all 300ms ease-out;
    cursor: pointer;
    border-radius: 3px;
    text-decoration: none;
  }

  .ButtonStart:hover {
    color: white;
    background-color: black;
    border: 2px solid white;
  }

  .Link {
     text-decoration: none;
  }


