.buttonsContainer {
    padding-top:24vh;
}

/* .Button-Start  {
    width:20vw;
    color: black;
    background-color: white;
    border-radius: 3px;
    border: none;
    height: 2.5rem;
    font-size: 1.25rem;
    font-style: bold;
    margin-bottom: 20px;
    transition: all 400ms ease-out; 
  }
  
  .Button-Start:hover {
    color: white;
    background-color: black;
    border: 2px solid white; */
  /* } */

  /* .Link {
    color: black;
    text-decoration: none;    
  } */


