p {
    font-size: 0.6rem;
    text-align: left;
}

.DemoBelongToHexagon {
    width: 320px;
    display: block;
    margin: 0 auto;
}

@media screen and (max-width: 465px)  {
    .DemoBelongToHexagon{
        width:230px;
    }
}



